<%= form_tag url, { method: :get, class: "form form-inline", role: "search"} do %>
  <div class="form-group">
    <% if local_assigns[:range_search] %>
      <%= label_tag :from, "From:" %>
      <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn" disabled><span class="fui-calendar"></span></button>
                </span>
        <%= text_field_tag :from_date, (local_assigns[:from_date] || Date.new(2014,1,1)).strftime("%m/%d/%Y"), class: "form-control date_picker" %>
      </div>
      <%= label_tag :to, "To:" %>
      <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn" disabled><span class="fui-calendar"></span></button>
                </span>
        <%= text_field_tag :to_date, (local_assigns[:to_date] || Date.today).strftime("%m/%d/%Y"), class: "form-control date_picker" %>
      </div>
    <% end %>

    <% if local_assigns[:carriers] %>
      <div class="input-group">
        <div class="col-sm-12">
         <%= select_tag "carrier", options_from_collection_for_select(carriers, "id", "name", local_assigns[:carrier].try(:id)), prompt: "All Carriers", class: "select select-primary", style: "width: 270px;", data: { toggle: "select"} %>
        </div>
      </div>
    <% end %>

    <%= label_tag :q, "Search term", {class: "sr-only"} %>
    <%= text_field_tag :q, q, {placeholder: placeholder, class: "form-control", style: "width: 250px;"} %>
    <%= submit_tag "Search", { class: "btn btn-primary" } %>
  </div>
<% end %>
